pydub>=0.25.1
numpy>=1.26.2
pyannote.audio>=3.1.1
pyannote.core>=5.0.0
pyannote.database>=5.0.1
pyannote.metrics>=3.2.1
pyannote.pipeline>=3.0.1
torch>=2.1.1
torchaudio>=2.2.1
requests>=2.31.0
ffmpeg-python>=0.2.0
peewee>=3.17.1
beautifulsoup4>=4.12.3
bs4>=0.0.2
pydantic>=2.6.4
python-dotenv>=1.0.1
transformers>=4.39.2
accelerate>=0.29.3
datasets>=2.20.0
whisperx>=3.1.5
spacy>=3.7.5
coloredlogs>=15.0.1
scipy>=1.12.0
faiss-cpu>=1.8.0.post1
